.author-content {
    padding-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
}

.hot-authors {
    height: 300px; 
}

.user-item {
    /* margin-left: 10px; */
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.author-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-online-content {
    height: 100%;
    overflow: auto;
}

.user-status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}

.user-online {
    background: #4caf50;
}

.user-offline {
    background: #f2f2f2;
}
