#gear-right2 {
	background: #333333;
	display: block;
	height: 50px;
	left: 0px;
	position: fixed;
	top: 150px;
	width: 50px;
	z-index: 9995;
	cursor: pointer;
}
#gear-right2 i {
	display: block;
	padding-top: 10px;
	text-align: center;
	font-size: 2em;
}
#tool_customization #quit{
	margin: 0;
	color:#fff;
	display: none;
}

#tool_customization #reset{
	width: 100%;
}

@media screen and (max-width: 768px){
	#gear-right, #tool_customization, #gear-right2{
		display: none;		
	}
}